apiVersion: v1
kind: ConfigMap
metadata:
  namespace: prow
  name: config
data:
  config.yaml: |
    prowjob_namespace: prow
    pod_namespace: test-pods

    in_repo_config:
      enabled:
        "*": true

    deck:
     spyglass:
       lenses:
       - lens:
           name: metadata
         required_files:
         - started.json|finished.json
       - lens:
           config:
           name: buildlog
         required_files:
         - build-log.txt
       - lens:
           name: junit
         required_files:
         - .*/junit.*\.xml
       - lens:
           name: podinfo
         required_files:
         - podinfo.json

    plank:
      job_url_prefix_config:
        "*": https://$(prow-ingress)/view/
      report_templates:
        '*': >-
            [Full PR test history](https://$(prow-ingress)/pr-history?org={{.Spec.Refs.Org}}&repo={{.Spec.Refs.Repo}}&pr={{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}).
            [Your PR dashboard](https://$(prow-ingress)/pr?query=is:pr+state:open+author:{{with
            index .Spec.Refs.Pulls 0}}{{.Author}}{{end}}).
      default_decoration_configs:
        "*":
          gcs_configuration:
            bucket: s3://prow-logs
            path_strategy: explicit
          s3_credentials_secret: s3-credentials
          utility_images:
            clonerefs: gcr.io/k8s-prow/clonerefs:v20210525-8b942ff77a
            entrypoint: gcr.io/k8s-prow/entrypoint:v20210525-8b942ff77a
            initupload: gcr.io/k8s-prow/initupload:v20210525-8b942ff77a
            sidecar: gcr.io/k8s-prow/sidecar:v20210525-8b942ff77a

    tide:
      merge_method:
        kserve: squash
      merge_commit_template:
        kserve/prow-tests:
          title: "{{ .Title }} (#{{ .Number }})"
          body: |
            {{ .Body }}
      queries:
      - labels:
        - lgtm
        - approved
        missingLabels:
        - needs-rebase
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - do-not-merge/invalid-owners-file
        orgs:
        - kserve
      target_url: https://$(prow-ingress)/tide

    decorate_all_jobs: true
